<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>uber-server-token</key>
	<string></string>
	<key>uber-client-id</key>
	<string></string>
	<key>lyft-client-secret</key>
	<string></string>
	<key>lyft-client-id</key>
	<string></string>
</dict>
</plist>
